<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="assets/images/favicon.ico" id="tabIcon">
    <title>Buka | ChatBot</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div class="chatbot-container">
        <div class="chatbot-header">
            <h2>Buka ChatBot: Place Your Order!</h2>
        </div>
        <div class="chatbot-body" id="chatbot-body">
            <ul class="chatbot-messages">
                <li>Select 1 to Place an Order (Enter '1' to see Item List)</li>
                <li>Select 99 to Checkout</li>
                <li>Select 98 to See Order History</li>
                <li>Select 97 to See current Order</li>
                <li>Select 0 to Cancel your Orders</li>

            </ul>
        </div>
        <div class="chatbot-footer">
            <form class="chatbot-form" id="chatbot-form">
                <input type="text" class="chatbot-input" id="chatbot-input" placeholder="Enter a valid input...">
                <button type="submit" class="chatbot-submit">Send</button>
            </form>
        </div>
    </div>


    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <script src="script.js"></script>

</body>

</html>